<tui-root>

  <div class="main-wrapper">
    <header class="header">
      <wallet-header></wallet-header>
    </header>

    <!--  <div class="columns-wrapper header">-->
    <!--    <div class="column-left">-->

    <!--    </div>-->

    <!--    <div class="column-center">-->

    <!--    </div>-->

    <!--    &lt;!&ndash;    <div class="column-right">&ndash;&gt;-->
    <!--    &lt;!&ndash;      <wallet-aside></wallet-aside>&ndash;&gt;-->

    <!--    &lt;!&ndash;    </div>&ndash;&gt;-->
    <!--  </div>-->

    <div class="columns-wrapper">
      <div class="column-left">
<!--<router-outlet></router-outlet>-->
        <wallet-navigation></wallet-navigation>
      </div>

      <div class="column-center">
        <wallet-main></wallet-main>
      </div>

      <!--    <div class="column-right">-->
      <!--      <wallet-aside></wallet-aside>-->

      <!--    </div>-->
    </div>
  </div>
</tui-root>
