

<ng-container *ngIf="isAuth | async" >
<ul class="no-bullets nav-position">
  <li>
    <a
      tuiButton
      type="button"
      class="tui-space_right-3 tui-space_bottom-3"
      [icon]="tuiIconGridLarge"
      [pseudoActive]="currentSelectedItem==='details'"
      (click)="navigate('details')"
    >
      Dashboard


    </a>
  </li>
  <li>
    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="wallet"
            (click)="navigate('wallet')"
            [pseudoActive]="currentSelectedItem==='wallet'"
    >Wallet
    </button>
  </li>
  <li>
    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="price"
            (click)="navigate('prices')"
            [pseudoActive]="currentSelectedItem==='prices'"
    >Prices
    </button>
  </li>
</ul>

<div class="settings-panel">
  <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="tuiIconSettingsLarge"
          (click)="navigate('settings')"
          [pseudoActive]="currentSelectedItem==='settings'"
  >
    Settings
  </button>
</div>

</ng-container>

<ng-template #icon>
  <tui-avatar size="xs" [rounded]="false" avatarUrl="assets/dashboard.svg"></tui-avatar>
</ng-template>
<ng-template #wallet>
  <tui-avatar size="xs" [rounded]="false" avatarUrl="assets/wallet.svg"></tui-avatar>
</ng-template>
<ng-template #price>
  <tui-avatar size="xs" [rounded]="false" avatarUrl="assets/Iconprice.svg"></tui-avatar>
</ng-template>
