:host {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.no-bullets {
  list-style-type: none;
  padding: 10px;
}

.nav-position {
  display: flex;
  flex-direction: column;
  flex: 88%;
  //align-items: center;
  // justify-content: start;
}
.settings-panel {
  display: flex;
  flex: auto;
  // flex-direction: column;
  // justify-content: center;
  // align-items: end;
  align-content: flex-end;
}
