<!--<header class="wallet-top">-->
<!--  <wallet-logo></wallet-logo>-->
<!--  <wallet-header>-->
<!--  </wallet-header>-->
<!--</header>-->

<!--<main>-->
<!--  <nav>-->
<!--    <wallet-navigation></wallet-navigation>-->
<!--  </nav>-->

<!--  <article>-->
<!--    <wallet-main></wallet-main>-->

<!--  </article>-->
<!--  <aside>-->
<!--    <wallet-aside></wallet-aside>-->
<!--  </aside>-->
<!--</main>-->


<!--<footer>-->
<!--  <p>Footer</p>-->
<!--</footer>-->

<div class="main-wrapper">
  <header class="header" role="banner">
      <wallet-logo></wallet-logo>
  </header>
  <div class="columns-wrapper">
    <div class="column-left">
      <wallet-navigation></wallet-navigation>
    </div>

    <div class="column-center">
      <wallet-main></wallet-main>
    </div>

    <div class="column-right">
      <wallet-aside></wallet-aside>


    </div>
  </div>
</div>
