<b>My portfolio</b>

<button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" (click)="onClick($event)">See All</button>

<table class="tui-table pad" tuiTable>
  <thead tuiThead>
    <tr>
      <th tuiTh>Coin</th>
      <th tuiTh>Amount</th>
      <th tuiTh>Change percent</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let prt of portfolio | async" class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td tui-table__td_first">
        {{ prt.coinCode }}
      </td>

      <td class="tui-table__td tui-table__td_first">
        <!--        {{ prt.amount }}-->
        <div>
          <tui-money [value]="prt.amount" currency="BTC" [colored]="true"></tui-money>
        </div>
        <div>
          <tui-money class="test" [value]="prt.amount * 100" currency="USD" [singleColor]="true"></tui-money>
        </div>
      </td>

      <td class="tui-table__td tui-table__td_first">
        <tui-badge class="tui-space_right-2" status="neutral" [value]="prt.changePercent | dashboardUpDown"></tui-badge>
      </td>
    </tr>
  </tbody>
</table>
