<p>Last Transactions</p>

<table class="table">
  <thead tuiThead>
  <tr  >
    <th   tuiTh>Foo</th>
    <th  tuiTh>Bar</th>
    <th  tuiTh>Bar</th>
  </tr>
</thead>

  <tbody>
  <tr *ngFor="let transaction of transactionList | async" class="tui-table__tr tui-table__tr_border_none">
    <td class="tui-table__td tui-table__td_first">
      {{transaction.coinCode}}
    </td>
    <td class="tui-table__td tui-table__td_first">
      {{transaction.transactionAmount }}
    </td>

    <td class="tui-table__td tui-table__td_first">
      {{transaction.transactionDate | date: 'dd.MM.yyyy hh:mm:ss' }}
    </td>

  </tr>
  </tbody>
</table>
